{% paginate blog.articles by 12 %}
    {% for article in blog.articles %}
        <div></div>
            {% if article.image != blank %}
                <img src="{{ article.image |img_url: 'medium' }}" alt="{{ article.image.alt }}" >
            {% endif %}
        </div>
    {% endfor %}
{% endpaginate %}